[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
argparse = "*"
uwsgi = "*"
django-storages = "*"
"psycopg2-binary" = "*"
pillow = "*"
"boto3" = "*"
django-rest-framework = "*"
"beautifulsoup4" = "*"
lxml = "*"
selenium = "*"
requests = "*"
raven = "*"

[dev-packages]
awsebcli = "*"
ipython = "*"
django-extensions = "*"
jupyter = "*"

[requires]
python_version = "3.6"
