files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/rec_01_collectstatic.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      if [ -f /tmp/collecstatic ]
      then
        rm -rf /tmp/collectstatic
        sudo docker exec `sudo docker ps -q` python /srv/project/app/manage.py collectstatic --noinput
      fi

  "/opt/elasticbeanstalk/hooks/appdeploy/post/rec_02_migrate.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      if [ -f /tmp/migrate ]
      then
        rm -rf /tmp/migrate
        sudo docker exec `sudo docker ps -q` python /srv/project/app/manage.py migrate --noinput
      fi

  "/opt/elasticbeanstalk/hooks/appdeploy/post/rec_03_createsu.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      if [ -f /tmp/createsu ]
      then
        rm -rf /tmp/createsu
        sudo docker exec `sudo docker ps -q` python /srv/project/app/manage.py createsu
      fi

  "/opt/elasticbeanstalk/hooks/appdeploy/post/rec_9999_remove_scripts.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      rm -f /opt/elasticbeanstalk/hooks/appdeploy/post/rec*.sh
      rm -f /opt/elasticbeanstalk/hooks/appdeploy/post/rec*.sh.bak





