{% block header %}

<header class="wz-header">
    <div class="header-wrap">
        <div class="home-logo ml-3">
            <a href="{% url 'index' %}">wadiz</a>
        </div>
        <ul style="list-style:none; display: inline-block;">
            <li class="menu mr-2"><a href="">투자</a></li>
            <li class="menu mr-2"><a href="">리워드</a></li>
            <li class="menu mr-2"><a href="">캐스트</a></li>
            <li class="menu mr-2"><a href="">...</a></li>
        </ul>

        <ul class="layout-header">
            {% if user.is_authenticated %}
            <li>
                <form action="{% url 'members:logout' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">로그아웃</button>
                </form>
            </li>
            {% else %}
            <li>
                <a class="btn btn-primary" href="{% url 'members:login' %}">로그인</a>
            </li>
            <li>
                <a class="btn btn-primary" href="{% url 'members:signup2' %}">회원가입</a>
            </li>
            {% endif %}
        </ul>
    </div>

</header>
{% endblock %}