<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
    <nav class="navebar navbar-expand naveber-light bg-light">
        <div class="container">
            <a href="" class="navbar-brand">EB Deploy</a>
        </div>
        <div class="container">
            <div class="img-container row justify-content-center">
                <div class="col-md-10 col-log-8 mt-3">
                    <img class="img-fluid rounded" src="{% static 'images/bby.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </nav>
</body>
</html>